services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: bodyfit
    ports:
    - "5432:5432"
    volumes:
      - bodyfit_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      DATABASE_URL: postgres://postgres:password@db:5432/bodyfit
    depends_on:
      - db

  platform:
    build:
      context: .
      dockerfile: ./apps/platform/Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production

volumes:
  bodyfit_data: